@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');


@font-face {
    font-family: 'Poppins-Bold'; /* Choose a name for your font */
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}


.rounded-image {
    border-radius: 50%; /* This creates a perfect circle */
    width: 200px; /* Set the width of your image */
    height: 200px; /* Set the height of your image */
}
  


#chat-container{
    display: flex;
    height: 100vh;
    width: 80vw;
    float: right;
}

#right-sidebar{
    width: 5vw;
    height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(152deg, rgba(255, 255, 255, 0.91) -7.6%, #FFF 91.99%);
    box-shadow: -8px 0px 20px 5px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
#middle{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#middle-bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: flex-end; /* Place this item at the bottom */
    align-items: center;
}
#message-bar{
    width: 65vw;
    height: 3.4375rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #FFF;
    border: 2px solid rgb(100, 71, 245);
    margin: 1em;
}
/* #message-hist{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: auto;
    overflow: auto; 
   
} */

#message-hist::-webkit-scrollbar {
    display: none;
  }

.message{
    position: relative; 
}
.my-message{
    position: relative; 
}

.my-message-group{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.other-message-group{
    display: flex;
    flex-direction: row;
}

.user-img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: auto;
}

.user-img:hover {
    cursor: pointer;
}

.user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-message-overlay{
    position: absolute; /* Position the overlay absolutely within the container */
    top: 0; /* Adjust as needed to position the overlay where you want */
    left: 0; /* Adjust as needed to position the overlay where you want */
    
    display: flex;
    width: 29.0625rem;
    height: 8.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.message-overlay{
 
    position: absolute; /* Position the overlay absolutely within the container */
    top: 0; /* Adjust as needed to position the overlay where you want */
    left: 0; /* Adjust as needed to position the overlay where you want */
    
    display: flex;
    width: 29.0625rem;
    height: 8.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5rem;
    flex-shrink: 0;
    color: rgb(100, 71, 245);
    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#send-icon{
  
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: rgb(100, 71, 245);
    border-radius: 50%; 
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center;
    color: white;
    border: none;
    outline: none;
    transition: all 200ms;
}

#send-icon:hover {
  cursor: pointer;
  background-color: rgb(78, 56, 190);
  transform: scale(1.05);
}
/* #study-name{
    color: #000;
    font-family: Poppins-Bold;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} */

.middle-top{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.module-icon{
    width: 5.125rem;
    height: 5.125rem;
    flex-shrink: 0;
    background-color: black;
}

/* #module-name{
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Poppins-Bold;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 1em;
    float: left;
} */


#plus-button{
    cursor: pointer;
    border: 2px solid rgb(100, 71, 245);
    background: none;
    background-color: white;
    align-items: center;
    width: 2em;
    height: 2em;
    font-size: 2em;
    border-radius: 10%;
}

#plus-button:hover {
    background: rgb(133,41,168);
    background: linear-gradient(90deg, rgba(133,41,168,1) 0%, rgba(171,71,0,1) 100%);
    color: white;
    border: none;
    cursor: pointer;
}

/* Styling for the overlay background */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.overlay-inner-wrapper {
    padding: 2em;
    width: 40%;
    border-radius: 0.4em;
    color: rgb(100, 71, 245);
    margin: auto;
    margin-top: 30vh;
    background-color: #fff;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

#submitBtn, #cancelBtn {
    padding: 0.7em;
    font-family: 'Poppins';
    font-size: 1.2em;
    border-radius: 0.4em;
    border: none;
    background: rgb(133,41,168);
    background: linear-gradient(90deg, rgba(133,41,168,1) 0%, rgba(171,71,175,1) 100%);
    color: white;
    min-width: 8em;
    margin-top: 1em;
    transition: all 200ms;
    margin-right: 1em;
}

#submitBtn:hover, #cancelBtn:hover {
    background: rgb(133,41,168);
    background: linear-gradient(90deg, rgba(133,41,168,1) 0%, rgba(171,71,0,1) 100%);
    cursor: pointer;
}


form h3 {
    color: #B238B5;
}

form label {
    color: #B238B5;
}

.topic-wrapper {
    width: 60%;
}


/* Styling for the close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

input {
    outline: none;
    padding: 1em;
    border: 2px solid #8D30AA;
    width: fit-content;
    border-radius: 0.4em;
    font-size: 1.2em;
    width: 100%;
    color: #B238B5;
}
h3{
    font-family: "Poppins";
    font-size: 2em;
}

/*--------------------
Mixins
--------------------*/
/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* body {
  background: linear-gradient(135deg, #044f48, #2a7561);
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
} */



/*--------------------
Chat
--------------------*/
.chat {
  zoom: 1.5;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  /* box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2); */
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

/*--------------------
Chat Title
--------------------*/
.chat-title {
  flex: 0 1 45px;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
  background-color: rgb(100, 71, 245);
}
.chat-title h1, .chat-title h2 {
  font-weight: normal;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.chat-title h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8px;
  letter-spacing: 1px;
}
.chat-title .avatar {
  position: absolute;
  top: 8px;
  left: 9px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.chat-title .avatar img {
  width: 100%;
  height: auto;
}

/*--------------------
Messages
--------------------*/
.messages {
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
  width: 100%;


    color: rgb(100, 71, 245);
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.messages .messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}
.messages .message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border: 1px solid;
  border-radius: 10px 10px 10px 0;
  /* background: rgba(0, 0, 0, 0.3); */
  margin: 8px 0;
  font-size: 11px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;

    border-color: #8529A8;

  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
}
.messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  color: rgba(100, 71, 245, 0.655);
}
.messages .message.message-personal{
    border: none;
}
.messages .message.message-personal .timestamp {
  position: absolute;
  bottom: -15px;
  right: 10%;
  font-size: 9px;
  color: rgba(100, 71, 245, 0.655);
}

/* .messages .message::before {
  content: "";
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  left: 0;
  border-right: 7px solid transparent;
} */

.messages .message .avatar {
  position: absolute;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

.messages .message .avatar-right {
  position: absolute;
  bottom: -15px;
  right: -35px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

.messages .message .avatar img {
  width: 100%;
  height: auto;
}

.messages .message .avatar-right img {
  width: 100%;
  height: auto;
}
.messages .message.message-personal {
  float: right;
  color: #fff;
  text-align: right;
  background-color: rgb(100, 71, 245);
  border-radius: 10px 10px 0 10px;
  margin-right: 35px;
}
.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #257287;
  bottom: -4px;
}
.messages .message:last-child {
  margin-bottom: 30px;
}
.messages .message.new {
  transform: scale(0);
  transform-origin: 0 0;
  -webkit-animation: bounce 500ms linear both;
          animation: bounce 500ms linear both;
}
.messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}
.messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
}
.messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

/*--------------------
Message Box
--------------------*/
.message-box {
  flex: 0 1 40px;
  width: 98%;
  padding: 5px;
  position: relative;
  border-radius: 0.3em;
  background: #FFF;
  border: 1.5px solid rgb(100, 71, 245);
  margin-left: 3em;
  margin-right: 0.4em;
  margin-bottom: 0.7em;
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgb(100, 71, 245);
  font-size: 11px;
  height: 17px;
  margin: 0;
  padding-right: 20px;
  width: 100%;

}
.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
}
.message-box .message-submit {
    /* display: none; */
  /* position: absolute;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248A52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background 0.2s ease; */
}
.message-box .message-submit:hover {
  background: #1D7745;
}

/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/*--------------------
Bounce
--------------------*/
@-webkit-keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}