@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 2em;
}

h1 {
    font-family: 'Poppins';
    color: white;
    margin-left: 1em;
    font-size: 3em;
}

.login-wrapper {
    background-color: green;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 4em;
}

h3 {
    font-family: 'Poppins';
    color: white;
    font-size: 2em;
}

p {
    font-family: 'Montserrat';
    color: white;
    font-size: 1.2em;
}

span {
    font-weight: 700;
}

.input-wrapper {
    margin: 1em;
    margin-left: 0em;
}

label {
    color: rgba(255,255,255,0.6);

}

input {
    width: 80%;
}