@font-face {
    font-family: 'Poppins-Bold'; /* Choose a name for your font */
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  }


  .title-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding: 0em 2em;
  }

  img {
    width: 20%;
  }

  
#title{
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Bold';
    font-size: 2em;
    color: rgb(100, 71, 245);
    margin-left: 0em;
    /* padding-left: 10px; */
    text-align: center;
    width: 25vw;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: rgb(100, 71, 245);
    cursor: pointer;
}

p {
    word-wrap: break-word;
}

.navbar-container {
    position: fixed;
    width: 20vw;
    box-shadow: inset -8px 0px 20px -19px rgba(0,0,0,0.75);
    height: 100vh;
    /* background-color: rgba(254, 252, 236); */
}

body{
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.nav-items{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 3em;
    height: 84%;
    position: relative;
}

.nav-item{
    flex-shrink: 0;
    border-radius: 0px 44px 44px 0px;
    color: rgb(100, 71, 245);
    padding: 0.8em;
    transition: all 200ms;
    margin-top: 0.5em;
    width: 80%;

}

.nav-item:hover {
    background-color: rgb(100, 71, 245);
    cursor: pointer;
}

.nav-item:hover p {
    color: #FFF;
}

.selected{
    background-color: rgb(100, 71, 245);
    
}

.selected p{
    color: #FFF !important;
}


.nav-item p{
    text-decoration: none;
    margin: 0;
    font-family: 'Poppins-Bold';
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 1em;
    color: rgb(100, 71, 245);
} 


.team {
    position: absolute;
    bottom: 5em;
}

.logout {
    position: absolute;
    bottom: 1em;
}